Import that data using csv reader. No Pandas.

In [1]:
import csv

# Open the CSV file and create a CSV reader object
with open('ds_salaries.csv', 'r') as file:
    csv_reader = csv.reader(file)
    
    # Skip the header row if it exists
    header = next(csv_reader)
    
    # Iterate over the rows
    for row in csv_reader:
        # Access each column value using the index
        column1 = row[0]
        column2 = row[1]
        # ...
        
        # Process the row as needed
        print(column1, column2)

0 2020
1 2020
2 2020
3 2020
4 2020
5 2020
6 2020
7 2020
8 2020
9 2020
10 2020
11 2020
12 2020
13 2020
14 2020
15 2020
16 2020
17 2020
18 2020
19 2020
20 2020
21 2020
22 2020
23 2020
24 2020
25 2020
26 2020
27 2020
28 2020
29 2020
30 2020
31 2020
32 2020
33 2020
34 2020
35 2020
36 2020
37 2020
38 2020
39 2020
40 2020
41 2020
42 2020
43 2020
44 2020
45 2020
46 2020
47 2020
48 2020
49 2020
50 2020
51 2020
52 2020
53 2020
54 2020
55 2020
56 2020
57 2020
58 2020
59 2020
60 2020
61 2020
62 2020
63 2020
64 2020
65 2020
66 2020
67 2020
68 2020
69 2020
70 2020
71 2020
72 2021
73 2021
74 2021
75 2021
76 2021
77 2021
78 2021
79 2021
80 2021
81 2021
82 2021
83 2021
84 2021
85 2021
86 2021
87 2021
88 2021
89 2021
90 2021
91 2021
92 2021
93 2021
94 2021
95 2021
96 2021
97 2021
98 2021
99 2021
100 2021
101 2021
102 2021
103 2021
104 2021
105 2021
106 2021
107 2021
108 2021
109 2021
110 2021
111 2021
112 2021
113 2021
114 2021
115 2021
116 2021
117 2021
118 2021
119 2021
120 2021
121 2021
122 2021
123 2021
124 2021
125 2021
126 2021
127 2021
128 2021
129 2021
130 2021
131 2021
132 2021
133 2021
134 2021
135 2021
136 2021
137 2021
138 2021
139 2021
140 2021
141 2021
142 2021
143 2021
144 2021
145 2021
146 2021
147 2021
148 2021
149 2021
150 2021
151 2021
152 2021
153 2021
154 2021
155 2021
156 2021
157 2021
158 2021
159 2021
160 2021
161 2021
162 2021
163 2021
164 2021
165 2021
166 2021
167 2021
168 2021
169 2021
170 2021
171 2021
172 2021
173 2021
174 2021
175 2021
176 2021
177 2021
178 2021
179 2021
180 2021
181 2021
182 2021
183 2021
184 2021
185 2021
186 2021
187 2021
188 2021
189 2021
190 2021
191 2021
192 2021
193 2021
194 2021
195 2021
196 2021
197 2021
198 2021
199 2021
200 2021
201 2021
202 2021
203 2021
204 2021
205 2021
206 2021
207 2021
208 2021
209 2021
210 2021
211 2021
212 2021
213 2021
214 2021
215 2021
216 2021
217 2021
218 2021
219 2021
220 2021
221 2021
222 2021
223 2021
224 2021
225 2021
226 2021
227 2021
228 2021
229 2021
230 2021
231 2021
232 2021
233 2021
234 2021
235 2021
236 2021
237 2021
238 2021
239 2021
240 2021
241 2021
242 2021
243 2021
244 2021
245 2021
246 2021
247 2021
248 2021
249 2021
250 2021
251 2021
252 2021
253 2021
254 2021
255 2021
256 2021
257 2021
258 2021
259 2021
260 2021
261 2021
262 2021
263 2021
264 2021
265 2021
266 2021
267 2021
268 2021
269 2021
270 2021
271 2021
272 2021
273 2021
274 2021
275 2021
276 2021
277 2021
278 2021
279 2021
280 2021
281 2021
282 2021
283 2021
284 2021
285 2021
286 2021
287 2021
288 2021
289 2022
290 2022
291 2022
292 2022
293 2022
294 2022
295 2022
296 2022
297 2022
298 2022
299 2022
300 2022
301 2022
302 2022
303 2022
304 2022
305 2022
306 2022
307 2022
308 2022
309 2022
310 2022
311 2022
312 2022
313 2022
314 2022
315 2022
316 2022
317 2022
318 2022
319 2022
320 2022
321 2022
322 2022
323 2022
324 2022
325 2022
326 2022
327 2022
328 2022
329 2022
330 2022
331 2022
332 2022
333 2022
334 2022
335 2022
336 2022
337 2022
338 2022
339 2022
340 2022
341 2022
342 2022
343 2022
344 2022
345 2022
346 2022
347 2022
348 2022
349 2022
350 2022
351 2022
352 2022
353 2022
354 2022
355 2022
356 2022
357 2022
358 2022
359 2022
360 2022
361 2022
362 2022
363 2022
364 2022
365 2022
366 2022
367 2022
368 2022
369 2022
370 2022
371 2022
372 2022
373 2022
374 2022
375 2022
376 2022
377 2022
378 2022
379 2022
380 2022
381 2022
382 2022
383 2022
384 2022
385 2022
386 2022
387 2022
388 2022
389 2022
390 2022
391 2022
392 2022
393 2022
394 2022
395 2022
396 2022
397 2022
398 2022
399 2022
400 2022
401 2022
402 2022
403 2022
404 2022
405 2022
406 2022
407 2022
408 2022
409 2022
410 2022
411 2022
412 2022
413 2022
414 2022
415 2022
416 2022
417 2022
418 2022
419 2022
420 2022
421 2022
422 2022
423 2022
424 2022
425 2022
426 2022
427 2022
428 2022
429 2022
430 2022
431 2022
432 2022
433 2022
434 2022
435 2022
436 2022
437 2022
438 2022
439 2022
440 2022
441 2022
442 2022
443 2022
444 2022
445 2022
446 2022
447 2022
448 2022
449 2022
450 2022
451 2022
452 2022
453 2022
454 2022
455 2022
456 2022
457 2022
458 2022
459 2022
460 2022
461 2022
462 2022
463 2022
464 2022
465 2022
466 2022
467 2022
468 2022
469 2022
470 2022
471 2022
472 2022
473 2022
474 2022
475 2022
476 2022
477 2022
478 2022
479 2022
480 2022
481 2022
482 2022
483 2022
484 2022
485 2022
486 2022
487 2022
488 2022
489 2022
490 2022
491 2022
492 2022
493 2022
494 2022
495 2022
496 2022
497 2022
498 2022
499 2022
500 2022
501 2022
502 2022
503 2022
504 2022
505 2022
506 2022
507 2022
508 2022
509 2022
510 2022
511 2022
512 2022
513 2022
514 2022
515 2022
516 2022
517 2022
518 2022
519 2022
520 2022
521 2022
522 2022
523 2022
524 2022
525 2022
526 2022
527 2022
528 2022
529 2022
530 2022
531 2022
532 2022
533 2022
534 2022
535 2022
536 2022
537 2022
538 2022
539 2022
540 2022
541 2022
542 2022
543 2022
544 2022
545 2022
546 2022
547 2022
548 2022
549 2022
550 2022
551 2022
552 2022
553 2022
554 2022
555 2022
556 2022
557 2022
558 2022
559 2022
560 2022
561 2022
562 2022
563 2022
564 2022
565 2022
566 2022
567 2022
568 2022
569 2022
570 2022
571 2022
572 2022
573 2022
574 2022
575 2022
576 2022
577 2022
578 2022
579 2022
580 2022
581 2022
582 2022
583 2022
584 2022
585 2022
586 2022
587 2022
588 2022
589 2022
590 2022
591 2022
592 2022
593 2022
594 2022
595 2022
596 2022
597 2022
598 2022
599 2022
600 2022
601 2022
602 2022
603 2022
604 2022
605 2022
606 2022

Find all of the job titles and all of the slaries.

In [9]:
import csv

# Open the CSV file and create a CSV reader object with DictReader
with open('ds_salaries.csv', 'r') as file:
    csv_reader = csv.DictReader(file)
    all_salaries = []
    all_job_titles = []
    # Iterate over the rows
    for row in csv_reader:
        # Access column values using the header keys
        salary= row['salary_in_usd']
        salary = float(salary)
        job_title = row['job_title']
        all_salaries.append(salary)
        all_job_titles.append(job_title)
        # ...
        
        # Process the row as needed
        # print(column1, column2)

unique_elements = set(all_job_titles)
print(F"There are {len(unique_elements)} unique jobs.")
#print(F"Unique Jobs: {unique_elements}")
import pprint
pprint.pprint(unique_elements)
print(all_salaries)

There are 50 unique jobs.
{'3D Computer Vision Researcher',
 'AI Scientist',
 'Analytics Engineer',
 'Applied Data Scientist',
 'Applied Machine Learning Scientist',
 'BI Data Analyst',
 'Big Data Architect',
 'Big Data Engineer',
 'Business Data Analyst',
 'Cloud Data Engineer',
 'Computer Vision Engineer',
 'Computer Vision Software Engineer',
 'Data Analyst',
 'Data Analytics Engineer',
 'Data Analytics Lead',
 'Data Analytics Manager',
 'Data Architect',
 'Data Engineer',
 'Data Engineering Manager',
 'Data Science Consultant',
 'Data Science Engineer',
 'Data Science Manager',
 'Data Scientist',
 'Data Specialist',
 'Director of Data Engineering',
 'Director of Data Science',
 'ETL Developer',
 'Finance Data Analyst',
 'Financial Data Analyst',
 'Head of Data',
 'Head of Data Science',
 'Head of Machine Learning',
 'Lead Data Analyst',
 'Lead Data Engineer',
 'Lead Data Scientist',
 'Lead Machine Learning Engineer',
 'ML Engineer',
 'Machine Learning Developer',
 'Machine Learning Engineer',
 'Machine Learning Infrastructure Engineer',
 'Machine Learning Manager',
 'Machine Learning Scientist',
 'Marketing Data Analyst',
 'NLP Engineer',
 'Principal Data Analyst',
 'Principal Data Engineer',
 'Principal Data Scientist',
 'Product Data Analyst',
 'Research Scientist',
 'Staff Data Scientist'}
[79833.0, 260000.0, 109024.0, 20000.0, 150000.0, 72000.0, 190000.0, 35735.0, 135000.0, 125000.0, 51321.0, 40481.0, 39916.0, 87000.0, 85000.0, 8000.0, 41689.0, 114047.0, 5707.0, 56000.0, 43331.0, 6072.0, 47899.0, 98000.0, 115000.0, 325000.0, 42000.0, 33511.0, 100000.0, 117104.0, 59303.0, 70000.0, 68428.0, 450000.0, 46759.0, 74130.0, 103000.0, 250000.0, 10000.0, 138000.0, 45760.0, 79833.0, 50180.0, 106000.0, 112872.0, 15966.0, 76958.0, 188000.0, 105000.0, 70139.0, 6072.0, 91000.0, 45896.0, 54742.0, 60000.0, 148261.0, 38776.0, 118000.0, 120000.0, 138350.0, 110000.0, 130800.0, 21669.0, 412000.0, 45618.0, 62726.0, 49268.0, 190200.0, 105000.0, 91237.0, 62726.0, 42197.0, 82528.0, 150000.0, 235000.0, 53192.0, 100000.0, 5409.0, 270000.0, 80000.0, 79197.0, 140000.0, 54238.0, 47282.0, 153667.0, 28476.0, 59102.0, 110000.0, 170000.0, 80000.0, 88654.0, 76833.0, 19609.0, 276000.0, 29751.0, 89294.0, 12000.0, 450000.0, 70000.0, 95746.0, 75000.0, 150000.0, 36259.0, 62000.0, 73000.0, 51519.0, 187442.0, 115000.0, 150000.0, 30428.0, 94564.0, 113476.0, 103160.0, 12000.0, 45391.0, 225000.0, 50000.0, 40189.0, 90000.0, 200000.0, 60000.0, 200000.0, 50000.0, 110037.0, 10354.0, 151000.0, 120000.0, 9466.0, 20000.0, 40570.0, 100000.0, 49646.0, 38400.0, 24000.0, 100000.0, 90000.0, 63711.0, 77364.0, 220000.0, 80000.0, 135000.0, 240000.0, 150000.0, 82500.0, 100000.0, 82744.0, 62649.0, 90000.0, 153000.0, 160000.0, 168000.0, 150000.0, 75774.0, 13400.0, 144000.0, 127221.0, 119059.0, 423000.0, 120000.0, 125000.0, 230000.0, 85000.0, 28369.0, 63831.0, 130026.0, 165000.0, 80000.0, 250000.0, 55000.0, 150000.0, 170000.0, 82528.0, 60000.0, 235000.0, 60757.0, 174000.0, 2859.0, 40038.0, 81000.0, 5679.0, 22611.0, 90734.0, 26005.0, 61896.0, 12000.0, 4000.0, 50000.0, 69741.0, 76833.0, 74000.0, 152000.0, 21844.0, 18000.0, 174000.0, 96113.0, 147000.0, 9272.0, 24342.0, 54094.0, 90000.0, 61467.0, 195000.0, 37825.0, 50000.0, 160000.0, 12901.0, 200000.0, 165000.0, 20000.0, 120000.0, 24823.0, 56738.0, 66022.0, 5882.0, 24823.0, 185000.0, 28609.0, 90734.0, 88654.0, 140000.0, 46597.0, 116914.0, 33808.0, 56256.0, 225000.0, 416000.0, 87738.0, 88654.0, 135000.0, 71786.0, 16228.0, 256000.0, 200000.0, 200000.0, 180000.0, 110000.0, 63810.0, 46809.0, 4000.0, 21637.0, 103691.0, 80000.0, 110000.0, 165000.0, 18053.0, 72212.0, 36643.0, 12103.0, 96282.0, 170000.0, 115000.0, 90000.0, 600000.0, 28399.0, 93000.0, 99703.0, 200000.0, 173762.0, 185000.0, 141846.0, 130000.0, 63831.0, 16904.0, 66265.0, 25532.0, 160000.0, 93150.0, 111775.0, 28016.0, 65013.0, 72500.0, 18907.0, 76833.0, 85000.0, 77684.0, 100000.0, 58000.0, 55000.0, 20171.0, 59102.0, 112000.0, 100000.0, 69741.0, 105000.0, 69999.0, 94665.0, 102839.0, 109000.0, 51064.0, 135000.0, 155000.0, 120600.0, 130000.0, 90000.0, 170000.0, 150000.0, 102100.0, 84900.0, 136620.0, 99360.0, 117789.0, 104702.0, 146000.0, 123000.0, 52351.0, 99000.0, 116000.0, 106260.0, 126500.0, 242000.0, 200000.0, 65438.0, 39263.0, 78526.0, 52351.0, 165220.0, 45807.0, 120160.0, 90320.0, 181940.0, 132320.0, 220110.0, 160080.0, 180000.0, 120000.0, 124190.0, 130000.0, 110000.0, 170000.0, 115500.0, 112900.0, 90320.0, 112900.0, 90320.0, 165400.0, 132320.0, 167000.0, 243900.0, 136600.0, 109280.0, 128875.0, 93700.0, 224000.0, 167875.0, 175000.0, 156600.0, 108800.0, 95550.0, 113000.0, 135000.0, 161342.0, 137141.0, 167000.0, 123000.0, 78526.0, 65438.0, 150000.0, 211500.0, 192400.0, 90700.0, 130000.0, 61300.0, 130000.0, 61300.0, 160000.0, 138600.0, 136000.0, 58000.0, 135000.0, 170000.0, 123000.0, 189650.0, 164996.0, 54957.0, 54957.0, 118187.0, 132000.0, 165400.0, 208775.0, 147800.0, 136994.0, 101570.0, 128875.0, 93700.0, 79039.0, 132320.0, 37300.0, 164000.0, 155000.0, 124333.0, 98158.0, 120000.0, 112900.0, 90320.0, 145000.0, 105400.0, 87932.0, 117789.0, 215300.0, 158200.0, 209100.0, 154600.0, 115934.0, 81666.0, 175000.0, 98158.0, 58000.0, 183600.0, 52351.0, 180000.0, 71982.0, 45807.0, 65949.0, 49461.0, 78526.0, 58894.0, 260000.0, 60000.0, 63900.0, 160000.0, 112300.0, 241000.0, 159000.0, 180000.0, 80000.0, 82900.0, 100800.0, 49461.0, 140400.0, 39263.0, 43966.0, 32974.0, 87932.0, 76940.0, 104702.0, 91614.0, 65949.0, 87932.0, 189650.0, 164996.0, 43966.0, 32974.0, 98158.0, 78526.0, 215300.0, 76940.0, 209100.0, 154600.0, 180000.0, 21983.0, 80000.0, 78791.0, 196979.0, 120000.0, 125000.0, 37236.0, 105000.0, 87932.0, 18442.0, 31615.0, 58255.0, 100000.0, 54957.0, 18442.0, 162674.0, 120000.0, 144000.0, 104890.0, 100000.0, 140000.0, 135000.0, 50000.0, 220000.0, 140000.0, 183228.0, 91614.0, 185100.0, 220000.0, 200000.0, 120000.0, 120000.0, 65000.0, 324000.0, 216000.0, 210000.0, 120000.0, 230000.0, 100000.0, 100000.0, 31875.0, 200000.0, 75000.0, 35590.0, 78791.0, 100000.0, 153000.0, 58035.0, 165000.0, 93427.0, 52396.0, 62651.0, 32974.0, 40000.0, 87425.0, 115000.0, 86703.0, 75000.0, 64849.0, 120000.0, 157000.0, 150000.0, 70912.0, 65000.0, 71444.0, 20000.0, 48000.0, 152500.0, 68147.0, 122346.0, 380000.0, 69336.0, 10000.0, 20000.0, 405000.0, 135000.0, 177000.0, 78000.0, 135000.0, 100000.0, 90320.0, 85000.0, 75000.0, 214000.0, 192600.0, 266400.0, 213120.0, 112900.0, 155000.0, 141300.0, 102100.0, 115934.0, 81666.0, 206699.0, 99100.0, 130000.0, 115000.0, 110500.0, 130000.0, 99050.0, 160000.0, 205300.0, 140400.0, 176000.0, 144000.0, 200100.0, 160000.0, 145000.0, 70500.0, 205300.0, 140400.0, 205300.0, 184700.0, 175100.0, 140250.0, 116150.0, 54000.0, 170000.0, 65438.0, 80000.0, 140000.0, 210000.0, 140000.0, 100000.0, 69000.0, 210000.0, 140000.0, 210000.0, 150075.0, 100000.0, 25000.0, 126500.0, 106260.0, 220110.0, 160080.0, 105000.0, 110925.0, 45807.0, 140000.0, 99000.0, 60000.0, 192564.0, 144854.0, 230000.0, 150000.0, 150260.0, 109280.0, 210000.0, 170000.0, 160000.0, 130000.0, 67000.0, 52000.0, 154000.0, 126000.0, 129000.0, 150000.0, 200000.0]

We want to compute the average salary across each job title. Our idea is to keep a dctionary that has a running sum of the total money made at that job 

Then another dictionary of the total number of people that work that job. 

We can compute the mean at the end.

In [19]:
salary_running_sum = {}
salary_count_per_job = {}


for salary, title in zip(all_salaries, all_job_titles):
    if title not in salary_running_sum:
        salary_running_sum[title] = salary
        salary_count_per_job[title] = 1
    else:
        salary_running_sum[title] += salary
        salary_count_per_job[title] += 1
        #print(F"Salary for {title}: {salary_running_sum[title] / salary_count_per_job[title]}")

average_salary = {}
print(salary_running_sum)
print(salary_count_per_job)
for title in salary_running_sum:
    average_salary[title] = salary_running_sum[title] / salary_count_per_job[title]

print("Average Salary per Job Title:")
for title, average in average_salary.items():
    print(title, ":", average)

print(F"Average salary 3d researcher: {average_salary['3D Computer Vision Researcher']}")

{'Data Scientist': 15470860.0, 'Machine Learning Scientist': 1267300.0, 'Big Data Engineer': 415792.0, 'Product Data Analyst': 26072.0, 'Machine Learning Engineer': 4300086.0, 'Data Analyst': 9010627.0, 'Lead Data Scientist': 345570.0, 'Business Data Analyst': 383456.0, 'Lead Data Engineer': 838347.0, 'Lead Data Analyst': 276609.0, 'Data Engineer': 14879700.0, 'Data Science Consultant': 485945.0, 'BI Data Analyst': 448531.0, 'Director of Data Science': 1365518.0, 'Research Scientist': 1744312.0, 'Machine Learning Manager': 117104.0, 'Data Engineering Manager': 616136.0, 'Machine Learning Infrastructure Engineer': 303435.0, 'ML Engineer': 705024.0, 'AI Scientist': 462949.0, 'Computer Vision Engineer': 266516.0, 'Principal Data Scientist': 1506697.0, 'Data Science Manager': 1899942.0, 'Head of Data': 800813.0, '3D Computer Vision Researcher': 5409.0, 'Data Analytics Engineer': 259197.0, 'Applied Data Scientist': 878275.0, 'Marketing Data Analyst': 88654.0, 'Cloud Data Engineer': 249294.0, 'Financial Data Analyst': 550000.0, 'Computer Vision Software Engineer': 315746.0, 'Director of Data Engineering': 313476.0, 'Data Science Engineer': 227410.0, 'Principal Data Engineer': 985000.0, 'Machine Learning Developer': 257582.0, 'Applied Machine Learning Scientist': 568275.0, 'Data Analytics Manager': 889940.0, 'Head of Data Science': 586875.0, 'Data Specialist': 165000.0, 'Data Architect': 1956613.0, 'Finance Data Analyst': 61896.0, 'Principal Data Analyst': 245000.0, 'Big Data Architect': 99703.0, 'Staff Data Scientist': 105000.0, 'Analytics Engineer': 700000.0, 'ETL Developer': 109914.0, 'Head of Machine Learning': 79039.0, 'NLP Engineer': 37236.0, 'Lead Machine Learning Engineer': 87932.0, 'Data Analytics Lead': 405000.0}
{'Data Scientist': 143, 'Machine Learning Scientist': 8, 'Big Data Engineer': 8, 'Product Data Analyst': 2, 'Machine Learning Engineer': 41, 'Data Analyst': 97, 'Lead Data Scientist': 3, 'Business Data Analyst': 5, 'Lead Data Engineer': 6, 'Lead Data Analyst': 3, 'Data Engineer': 132, 'Data Science Consultant': 7, 'BI Data Analyst': 6, 'Director of Data Science': 7, 'Research Scientist': 16, 'Machine Learning Manager': 1, 'Data Engineering Manager': 5, 'Machine Learning Infrastructure Engineer': 3, 'ML Engineer': 6, 'AI Scientist': 7, 'Computer Vision Engineer': 6, 'Principal Data Scientist': 7, 'Data Science Manager': 12, 'Head of Data': 5, '3D Computer Vision Researcher': 1, 'Data Analytics Engineer': 4, 'Applied Data Scientist': 5, 'Marketing Data Analyst': 1, 'Cloud Data Engineer': 2, 'Financial Data Analyst': 2, 'Computer Vision Software Engineer': 3, 'Director of Data Engineering': 2, 'Data Science Engineer': 3, 'Principal Data Engineer': 3, 'Machine Learning Developer': 3, 'Applied Machine Learning Scientist': 4, 'Data Analytics Manager': 7, 'Head of Data Science': 4, 'Data Specialist': 1, 'Data Architect': 11, 'Finance Data Analyst': 1, 'Principal Data Analyst': 2, 'Big Data Architect': 1, 'Staff Data Scientist': 1, 'Analytics Engineer': 4, 'ETL Developer': 2, 'Head of Machine Learning': 1, 'NLP Engineer': 1, 'Lead Machine Learning Engineer': 1, 'Data Analytics Lead': 1}
Average Salary per Job Title:
Data Scientist : 108187.83216783217
Machine Learning Scientist : 158412.5
Big Data Engineer : 51974.0
Product Data Analyst : 13036.0
Machine Learning Engineer : 104880.14634146342
Data Analyst : 92893.06185567011
Lead Data Scientist : 115190.0
Business Data Analyst : 76691.2
Lead Data Engineer : 139724.5
Lead Data Analyst : 92203.0
Data Engineer : 112725.0
Data Science Consultant : 69420.71428571429
BI Data Analyst : 74755.16666666667
Director of Data Science : 195074.0
Research Scientist : 109019.5
Machine Learning Manager : 117104.0
Data Engineering Manager : 123227.2
Machine Learning Infrastructure Engineer : 101145.0
ML Engineer : 117504.0
AI Scientist : 66135.57142857143
Computer Vision Engineer : 44419.333333333336
Principal Data Scientist : 215242.42857142858
Data Science Manager : 158328.5
Head of Data : 160162.6
3D Computer Vision Researcher : 5409.0
Data Analytics Engineer : 64799.25
Applied Data Scientist : 175655.0
Marketing Data Analyst : 88654.0
Cloud Data Engineer : 124647.0
Financial Data Analyst : 275000.0
Computer Vision Software Engineer : 105248.66666666667
Director of Data Engineering : 156738.0
Data Science Engineer : 75803.33333333333
Principal Data Engineer : 328333.3333333333
Machine Learning Developer : 85860.66666666667
Applied Machine Learning Scientist : 142068.75
Data Analytics Manager : 127134.28571428571
Head of Data Science : 146718.75
Data Specialist : 165000.0
Data Architect : 177873.9090909091
Finance Data Analyst : 61896.0
Principal Data Analyst : 122500.0
Big Data Architect : 99703.0
Staff Data Scientist : 105000.0
Analytics Engineer : 175000.0
ETL Developer : 54957.0
Head of Machine Learning : 79039.0
NLP Engineer : 37236.0
Lead Machine Learning Engineer : 87932.0
Data Analytics Lead : 405000.0
Average salary 3d researcher: 5409.0

In [13]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 47.2 MB/s eta 0:00:00a 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 29.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in ./homeworkenv/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.21.0
  Downloading numpy-1.25.2-cp310-cp310-macosx_11_0_arm64.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 31.3 MB/s eta 0:00:0000:0100:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 34.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in ./homeworkenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

What if we used a pandas dataframe instead of loading things in manually.

In [14]:

import pandas as pd


# Read the CSV file
df = pd.read_csv('ds_salaries.csv')

# Display the first few rows of the DataFrame
print(df.head())

   Unnamed: 0  work_year experience_level employment_type  \
0           0       2020               MI              FT
1           1       2020               SE              FT
2           2       2020               SE              FT
3           3       2020               MI              FT
4           4       2020               SE              FT

                    job_title  salary salary_currency  salary_in_usd  \
0              Data Scientist   70000             EUR          79833
1  Machine Learning Scientist  260000             USD         260000
2           Big Data Engineer   85000             GBP         109024
3        Product Data Analyst   20000             USD          20000
4   Machine Learning Engineer  150000             USD         150000

  employee_residence  remote_ratio company_location company_size
0                 DE             0               DE            L
1                 JP             0               JP            S
2                 GB            50               GB            M
3                 HN             0               HN            S
4                 US            50               US            L

Use pandas to compute the average salary for each job.

In [18]:
mean_salary = df['salary_in_usd'].mean()
print(F"mean_salary is: {mean_salary}")

# Get the unique elements in the 'job_title' column
unique_job_titles= df['job_title'].unique()

average_salary_dict = dict()
for unique_job in unique_job_titles:
    people_with_this_job = df[df['job_title'] == unique_job]
    average_salary_dict[unique_job] = people_with_this_job['salary_in_usd'].mean()

print("Average salary by job:")
pprint.pprint(average_salary_dict)

mean_salary is: 112297.86985172982
Average salary by job:
{'3D Computer Vision Researcher': 5409.0,
 'AI Scientist': 66135.57142857143,
 'Analytics Engineer': 175000.0,
 'Applied Data Scientist': 175655.0,
 'Applied Machine Learning Scientist': 142068.75,
 'BI Data Analyst': 74755.16666666667,
 'Big Data Architect': 99703.0,
 'Big Data Engineer': 51974.0,
 'Business Data Analyst': 76691.2,
 'Cloud Data Engineer': 124647.0,
 'Computer Vision Engineer': 44419.333333333336,
 'Computer Vision Software Engineer': 105248.66666666667,
 'Data Analyst': 92893.06185567011,
 'Data Analytics Engineer': 64799.25,
 'Data Analytics Lead': 405000.0,
 'Data Analytics Manager': 127134.28571428571,
 'Data Architect': 177873.9090909091,
 'Data Engineer': 112725.0,
 'Data Engineering Manager': 123227.2,
 'Data Science Consultant': 69420.71428571429,
 'Data Science Engineer': 75803.33333333333,
 'Data Science Manager': 158328.5,
 'Data Scientist': 108187.83216783217,
 'Data Specialist': 165000.0,
 'Director of Data Engineering': 156738.0,
 'Director of Data Science': 195074.0,
 'ETL Developer': 54957.0,
 'Finance Data Analyst': 61896.0,
 'Financial Data Analyst': 275000.0,
 'Head of Data': 160162.6,
 'Head of Data Science': 146718.75,
 'Head of Machine Learning': 79039.0,
 'Lead Data Analyst': 92203.0,
 'Lead Data Engineer': 139724.5,
 'Lead Data Scientist': 115190.0,
 'Lead Machine Learning Engineer': 87932.0,
 'ML Engineer': 117504.0,
 'Machine Learning Developer': 85860.66666666667,
 'Machine Learning Engineer': 104880.14634146342,
 'Machine Learning Infrastructure Engineer': 101145.0,
 'Machine Learning Manager': 117104.0,
 'Machine Learning Scientist': 158412.5,
 'Marketing Data Analyst': 88654.0,
 'NLP Engineer': 37236.0,
 'Principal Data Analyst': 122500.0,
 'Principal Data Engineer': 328333.3333333333,
 'Principal Data Scientist': 215242.42857142858,
 'Product Data Analyst': 13036.0,
 'Research Scientist': 109019.5,
 'Staff Data Scientist': 105000.0}

We can instead compute the median salary of each job.

In [27]:
# Get the unique elements in the 'job_title' column
unique_job_titles= df['job_title'].unique()

average_salary_dict = dict()
for unique_job in unique_job_titles:
    people_with_this_job = df[df['job_title'] == unique_job]
    average_salary_dict[unique_job] = people_with_this_job['salary_in_usd'].median()

print("median salary by job:")
pprint.pprint(average_salary_dict)

median vs mean difference is:
{'3D Computer Vision Researcher': 0.0,
 'AI Scientist': 20239.571428571435,
 'Analytics Engineer': 4850.0,
 'Applied Data Scientist': 18655.0,
 'Applied Machine Learning Scientist': 85368.75,
 'BI Data Analyst': 1744.8333333333285,
 'Big Data Architect': 0.0,
 'Big Data Engineer': 10668.5,
 'Business Data Analyst': 5779.199999999997,
 'Cloud Data Engineer': 0.0,
 'Computer Vision Engineer': 18114.833333333336,
 'Computer Vision Software Engineer': 9502.666666666672,
 'Data Analyst': 2573.0618556701083,
 'Data Analytics Engineer': 200.75,
 'Data Analytics Lead': 0.0,
 'Data Analytics Manager': 7134.28571428571,
 'Data Architect': 2126.0909090909117,
 'Data Engineer': 7225.0,
 'Data Engineering Manager': 26772.800000000003,
 'Data Science Consultant': 7412.28571428571,
 'Data Science Engineer': 15803.333333333328,
 'Data Science Manager': 2578.5,
 'Data Scientist': 4496.832167832166,
 'Data Specialist': 0.0,
 'Director of Data Engineering': 0.0,
 'Director of Data Science': 27074.0,
 'ETL Developer': 0.0,
 'Finance Data Analyst': 0.0,
 'Financial Data Analyst': 0.0,
 'Head of Data': 39837.399999999994,
 'Head of Data Science': 7781.25,
 'Head of Machine Learning': 0.0,
 'Lead Data Analyst': 5203.0,
 'Lead Data Engineer': 18131.0,
 'Lead Data Scientist': 190.0,
 'Lead Machine Learning Engineer': 0.0,
 'ML Engineer': 46966.5,
 'Machine Learning Developer': 7069.6666666666715,
 'Machine Learning Engineer': 16948.14634146342,
 'Machine Learning Infrastructure Engineer': 42890.0,
 'Machine Learning Manager': 0.0,
 'Machine Learning Scientist': 1912.5,
 'Marketing Data Analyst': 0.0,
 'NLP Engineer': 0.0,
 'Principal Data Analyst': 0.0,
 'Principal Data Engineer': 128333.33333333331,
 'Principal Data Scientist': 41480.42857142858,
 'Product Data Analyst': 0.0,
 'Research Scientist': 32756.0,
 'Staff Data Scientist': 0.0}

Delta between media and mean.

In [ ]:
# Get the unique elements in the 'job_title' column
unique_job_titles= df['job_title'].unique()

median_vs_mean_delta = dict()
for unique_job in unique_job_titles:
    people_with_this_job = df[df['job_title'] == unique_job]
    median_vs_mean_delta [unique_job] = abs(people_with_this_job['salary_in_usd'].median() - people_with_this_job['salary_in_usd'].mean())

print("median salary by job:")
pprint.pprint(median_vs_mean_delta )

In [31]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in ./homeworkenv/lib/python3.10/site-packages (1.25.2)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

Standard deviation.

In [43]:
# Get the unique elements in the 'job_title' column
unique_job_titles= df['job_title'].unique()


std_dict = dict()
for unique_job in unique_job_titles:
    people_with_this_job = df[df['job_title'] == unique_job]
    std_dict[unique_job] = people_with_this_job['salary_in_usd'].std()
    #print(people_with_this_job['salary_in_usd'].describe())

print("variance by job is:")
pprint.pprint(std_dict)

variance by job is:
{'3D Computer Vision Researcher': nan,
 'AI Scientist': 70152.16433785715,
 'Analytics Engineer': 29508.0779900465,
 'Applied Data Scientist': 123647.18647021451,
 'Applied Machine Learning Scientist': 188246.6969331733,
 'BI Data Analyst': 50989.55854845839,
 'Big Data Architect': nan,
 'Big Data Engineer': 42954.761262785025,
 'Business Data Analyst': 43814.85114889699,
 'Cloud Data Engineer': 49996.69207057603,
 'Computer Vision Engineer': 42984.84962712637,
 'Computer Vision Software Engineer': 40837.79505964216,
 'Data Analyst': 39961.07584778969,
 'Data Analytics Engineer': 38628.114143069426,
 'Data Analytics Lead': nan,
 'Data Analytics Manager': 17853.383299478428,
 'Data Architect': 45714.721424185765,
 'Data Engineer': 57629.08210733841,
 'Data Engineering Manager': 50374.69503332005,
 'Data Science Consultant': 30961.654417005808,
 'Data Science Engineer': 45617.44473700092,
 'Data Science Manager': 52589.18049716725,
 'Data Scientist': 64112.84051851014,
 'Data Specialist': nan,
 'Director of Data Engineering': 61181.70713538484,
 'Director of Data Science': 70015.78796957155,
 'ETL Developer': 0.0,
 'Finance Data Analyst': nan,
 'Financial Data Analyst': 247487.37341529163,
 'Head of Data': 88780.42070636971,
 'Head of Data Science': 62122.055178361035,
 'Head of Machine Learning': nan,
 'Lead Data Analyst': 75330.38315978488,
 'Lead Data Engineer': 74845.89122657302,
 'Lead Data Scientist': 74715.18118829667,
 'Lead Machine Learning Engineer': nan,
 'ML Engineer': 115217.45125283756,
 'Machine Learning Developer': 12245.021859242774,
 'Machine Learning Engineer': 63218.626439349726,
 'Machine Learning Infrastructure Engineer': 81381.03080571048,
 'Machine Learning Manager': nan,
 'Machine Learning Scientist': 79514.71449630296,
 'Marketing Data Analyst': nan,
 'NLP Engineer': nan,
 'Principal Data Analyst': 67175.14421272202,
 'Principal Data Engineer': 235389.74772350077,
 'Principal Data Scientist': 94705.03826769574,
 'Product Data Analyst': 9848.583248366234,
 'Research Scientist': 98542.76396840782,
 'Staff Data Scientist': nan}

We want to make a new dataframe that has job: mean salary, std of salary.

In [53]:
# replace the NANs 

std_dict
average_salary_dict

# Create a new dataframe
salary_df = pd.DataFrame([ average_salary_dict, std_dict]).T
# Assign column names
salary_df.columns = ["mean", "std"]
print(salary_df)

                                              mean            std
Data Scientist                            103691.0   64112.840519
Machine Learning Scientist                156500.0   79514.714496
Big Data Engineer                          41305.5   42954.761263
Product Data Analyst                       13036.0    9848.583248
Machine Learning Engineer                  87932.0   63218.626439
Data Analyst                               90320.0   39961.075848
Lead Data Scientist                       115000.0   74715.181188
Business Data Analyst                      70912.0   43814.851149
Lead Data Engineer                        121593.5   74845.891227
Lead Data Analyst                          87000.0   75330.383160
Data Engineer                             105500.0   57629.082107
Data Science Consultant                    76833.0   30961.654417
BI Data Analyst                            76500.0   50989.558548
Director of Data Science                  168000.0   70015.787970
Research Scientist                         76263.5   98542.763968
Machine Learning Manager                  117104.0            NaN
Data Engineering Manager                  150000.0   50374.695033
Machine Learning Infrastructure Engineer   58255.0   81381.030806
ML Engineer                                70537.5  115217.451253
AI Scientist                               45896.0   70152.164338
Computer Vision Engineer                   26304.5   42984.849627
Principal Data Scientist                  173762.0   94705.038268
Data Science Manager                      155750.0   52589.180497
Head of Data                              200000.0   88780.420706
3D Computer Vision Researcher               5409.0            NaN
Data Analytics Engineer                    64598.5   38628.114143
Applied Data Scientist                    157000.0  123647.186470
Marketing Data Analyst                     88654.0            NaN
Cloud Data Engineer                       124647.0   49996.692071
Financial Data Analyst                    275000.0  247487.373415
Computer Vision Software Engineer          95746.0   40837.795060
Director of Data Engineering              156738.0   61181.707135
Data Science Engineer                      60000.0   45617.444737
Principal Data Engineer                   200000.0  235389.747724
Machine Learning Developer                 78791.0   12245.021859
Applied Machine Learning Scientist         56700.0  188246.696933
Data Analytics Manager                    120000.0   17853.383299
Head of Data Science                      138937.5   62122.055178
Data Specialist                           165000.0            NaN
Data Architect                            180000.0   45714.721424
Finance Data Analyst                       61896.0            NaN
Principal Data Analyst                    122500.0   67175.144213
Big Data Architect                         99703.0            NaN
Staff Data Scientist                      105000.0            NaN
Analytics Engineer                        179850.0   29508.077990
ETL Developer                              54957.0       0.000000
Head of Machine Learning                   79039.0            NaN
NLP Engineer                               37236.0            NaN
Lead Machine Learning Engineer             87932.0            NaN
Data Analytics Lead                       405000.0            NaN

We get some NANs when STD has 1 element.

In [54]:
salary_df['std'].fillna(0.0, inplace=True)
print(salary_df)

                                              mean            std
Data Scientist                            103691.0   64112.840519
Machine Learning Scientist                156500.0   79514.714496
Big Data Engineer                          41305.5   42954.761263
Product Data Analyst                       13036.0    9848.583248
Machine Learning Engineer                  87932.0   63218.626439
Data Analyst                               90320.0   39961.075848
Lead Data Scientist                       115000.0   74715.181188
Business Data Analyst                      70912.0   43814.851149
Lead Data Engineer                        121593.5   74845.891227
Lead Data Analyst                          87000.0   75330.383160
Data Engineer                             105500.0   57629.082107
Data Science Consultant                    76833.0   30961.654417
BI Data Analyst                            76500.0   50989.558548
Director of Data Science                  168000.0   70015.787970
Research Scientist                         76263.5   98542.763968
Machine Learning Manager                  117104.0       0.000000
Data Engineering Manager                  150000.0   50374.695033
Machine Learning Infrastructure Engineer   58255.0   81381.030806
ML Engineer                                70537.5  115217.451253
AI Scientist                               45896.0   70152.164338
Computer Vision Engineer                   26304.5   42984.849627
Principal Data Scientist                  173762.0   94705.038268
Data Science Manager                      155750.0   52589.180497
Head of Data                              200000.0   88780.420706
3D Computer Vision Researcher               5409.0       0.000000
Data Analytics Engineer                    64598.5   38628.114143
Applied Data Scientist                    157000.0  123647.186470
Marketing Data Analyst                     88654.0       0.000000
Cloud Data Engineer                       124647.0   49996.692071
Financial Data Analyst                    275000.0  247487.373415
Computer Vision Software Engineer          95746.0   40837.795060
Director of Data Engineering              156738.0   61181.707135
Data Science Engineer                      60000.0   45617.444737
Principal Data Engineer                   200000.0  235389.747724
Machine Learning Developer                 78791.0   12245.021859
Applied Machine Learning Scientist         56700.0  188246.696933
Data Analytics Manager                    120000.0   17853.383299
Head of Data Science                      138937.5   62122.055178
Data Specialist                           165000.0       0.000000
Data Architect                            180000.0   45714.721424
Finance Data Analyst                       61896.0       0.000000
Principal Data Analyst                    122500.0   67175.144213
Big Data Architect                         99703.0       0.000000
Staff Data Scientist                      105000.0       0.000000
Analytics Engineer                        179850.0   29508.077990
ETL Developer                              54957.0       0.000000
Head of Machine Learning                   79039.0       0.000000
NLP Engineer                               37236.0       0.000000
Lead Machine Learning Engineer             87932.0       0.000000
Data Analytics Lead                       405000.0       0.000000

Sort by mean.

In [58]:
salary_df

# Sort the DataFrame by the 'Age' column in ascending order
sorted_df = salary_df.sort_values('mean', ascending=False)
print(sorted_df)

                                              mean            std
Data Analytics Lead                       405000.0       0.000000
Financial Data Analyst                    275000.0  247487.373415
Principal Data Engineer                   200000.0  235389.747724
Head of Data                              200000.0   88780.420706
Data Architect                            180000.0   45714.721424
Analytics Engineer                        179850.0   29508.077990
Principal Data Scientist                  173762.0   94705.038268
Director of Data Science                  168000.0   70015.787970
Data Specialist                           165000.0       0.000000
Applied Data Scientist                    157000.0  123647.186470
Director of Data Engineering              156738.0   61181.707135
Machine Learning Scientist                156500.0   79514.714496
Data Science Manager                      155750.0   52589.180497
Data Engineering Manager                  150000.0   50374.695033
Head of Data Science                      138937.5   62122.055178
Cloud Data Engineer                       124647.0   49996.692071
Principal Data Analyst                    122500.0   67175.144213
Lead Data Engineer                        121593.5   74845.891227
Data Analytics Manager                    120000.0   17853.383299
Machine Learning Manager                  117104.0       0.000000
Lead Data Scientist                       115000.0   74715.181188
Data Engineer                             105500.0   57629.082107
Staff Data Scientist                      105000.0       0.000000
Data Scientist                            103691.0   64112.840519
Big Data Architect                         99703.0       0.000000
Computer Vision Software Engineer          95746.0   40837.795060
Data Analyst                               90320.0   39961.075848
Marketing Data Analyst                     88654.0       0.000000
Lead Machine Learning Engineer             87932.0       0.000000
Machine Learning Engineer                  87932.0   63218.626439
Lead Data Analyst                          87000.0   75330.383160
Head of Machine Learning                   79039.0       0.000000
Machine Learning Developer                 78791.0   12245.021859
Data Science Consultant                    76833.0   30961.654417
BI Data Analyst                            76500.0   50989.558548
Research Scientist                         76263.5   98542.763968
Business Data Analyst                      70912.0   43814.851149
ML Engineer                                70537.5  115217.451253
Data Analytics Engineer                    64598.5   38628.114143
Finance Data Analyst                       61896.0       0.000000
Data Science Engineer                      60000.0   45617.444737
Machine Learning Infrastructure Engineer   58255.0   81381.030806
Applied Machine Learning Scientist         56700.0  188246.696933
ETL Developer                              54957.0       0.000000
AI Scientist                               45896.0   70152.164338
Big Data Engineer                          41305.5   42954.761263
NLP Engineer                               37236.0       0.000000
Computer Vision Engineer                   26304.5   42984.849627
Product Data Analyst                       13036.0    9848.583248
3D Computer Vision Researcher               5409.0       0.000000

In [59]:
salary_df

# Sort the DataFrame by the 'Age' column in ascending order
sorted_df = salary_df.sort_values('std', ascending=False)
print(sorted_df)

                                              mean            std
Financial Data Analyst                    275000.0  247487.373415
Principal Data Engineer                   200000.0  235389.747724
Applied Machine Learning Scientist         56700.0  188246.696933
Applied Data Scientist                    157000.0  123647.186470
ML Engineer                                70537.5  115217.451253
Research Scientist                         76263.5   98542.763968
Principal Data Scientist                  173762.0   94705.038268
Head of Data                              200000.0   88780.420706
Machine Learning Infrastructure Engineer   58255.0   81381.030806
Machine Learning Scientist                156500.0   79514.714496
Lead Data Analyst                          87000.0   75330.383160
Lead Data Engineer                        121593.5   74845.891227
Lead Data Scientist                       115000.0   74715.181188
AI Scientist                               45896.0   70152.164338
Director of Data Science                  168000.0   70015.787970
Principal Data Analyst                    122500.0   67175.144213
Data Scientist                            103691.0   64112.840519
Machine Learning Engineer                  87932.0   63218.626439
Head of Data Science                      138937.5   62122.055178
Director of Data Engineering              156738.0   61181.707135
Data Engineer                             105500.0   57629.082107
Data Science Manager                      155750.0   52589.180497
BI Data Analyst                            76500.0   50989.558548
Data Engineering Manager                  150000.0   50374.695033
Cloud Data Engineer                       124647.0   49996.692071
Data Architect                            180000.0   45714.721424
Data Science Engineer                      60000.0   45617.444737
Business Data Analyst                      70912.0   43814.851149
Computer Vision Engineer                   26304.5   42984.849627
Big Data Engineer                          41305.5   42954.761263
Computer Vision Software Engineer          95746.0   40837.795060
Data Analyst                               90320.0   39961.075848
Data Analytics Engineer                    64598.5   38628.114143
Data Science Consultant                    76833.0   30961.654417
Analytics Engineer                        179850.0   29508.077990
Data Analytics Manager                    120000.0   17853.383299
Machine Learning Developer                 78791.0   12245.021859
Product Data Analyst                       13036.0    9848.583248
Staff Data Scientist                      105000.0       0.000000
Lead Machine Learning Engineer             87932.0       0.000000
NLP Engineer                               37236.0       0.000000
Head of Machine Learning                   79039.0       0.000000
ETL Developer                              54957.0       0.000000
Marketing Data Analyst                     88654.0       0.000000
Big Data Architect                         99703.0       0.000000
Finance Data Analyst                       61896.0       0.000000
Data Specialist                           165000.0       0.000000
Machine Learning Manager                  117104.0       0.000000
3D Computer Vision Researcher               5409.0       0.000000
Data Analytics Lead                       405000.0       0.000000

In [ ]:
# What if we want to add the skewness of the distributions? 
# Get the unique elements in the 'job_title' column
unique_job_titles= df['job_title'].unique()

skewness_by_job = dict()
for unique_job in unique_job_titles:
    people_with_this_job = df[df['job_title'] == unique_job]
    skewness = compute_skewness(people_with_this_job.values)
    skewness_by_job[unique_job] = skewness
df['skewness'] = skewness_by_job

We can always jump to numpy to actually do matrix computations.

In [ ]:
def compute_skewness(data):
    # Step 1: Calculate the mean
    mean = np.mean(data)

    # Step 2: Calculate the standard deviation
    std = np.std(data)

    # Step 3: Subtract the mean from each value
    data_minus_mean = data - mean

    # Step 4: Cube each value
    cubed_values = np.power(data_minus_mean, 3)

    # Step 5: Calculate the mean of the cubed values
    mean_cubed = np.mean(cubed_values)

    # Step 6: Divide the mean of the cubed values by the cube of the standard deviation
    skewness = mean_cubed / (std**3)

    return skewness